<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>demo.popcornsar.io</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--폰트어섬추가 -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
    <!--폰트어섬추가 -->    
    <!--bootstrap js 추가 -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <!--<script type="text/javascript" src="https://cdnjs.com/libraries/1000hz-bootstrap-validator"></script>-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Google reCAPTHA -->
    <script src="https://www.google.com/recaptcha/api.js"></script>    
</head>
<body>
    <div class="container" style="padding-top: 10px;">
        <nav class="navbar navbar-inverse"> 
            <div class="container-fluid"> 
                <div class="navbar-header">
                    <!-- 오른쪽 메뉴바 -->
                    <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span>
                    </button>                     
                    <% if(isLogin) { %>
                        <a href="/toolide/workspaceList" class="navbar-brand"><%= language.header.logo%></a>
                    <% } else { %>
                        <a href="/" class="navbar-brand"><%= language.header.logo%></a>
                    <%} %>
                   
                </div> 
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <!--<a href="/accounts/login">Home</a>-->
                        </li>
                        <!-- <% if(typeof(userData)!=='undefined' && userData.authority===true){ %>
                            <li><a href="/admin/adminMainpage">ADMIN</a></li> 
                        <%}%> --> 
                        <!-- <li><a href="/pay/pricelist">CYBER MONEY</a></li> -->
                        <!-- <li><a href="/products/productlist">PRODUCT LIST</a></li> -->
                       
                        <!-- 로그인 되어있으면 logout 버튼 -->
                        <% if(isLogin){%>
                            <li><a href="/accounts/logout" onclick="return confirm('<%= language.logoutMessage%>')"><%= language.header.logout%></a></li>
                            <li><a href="/accounts/myMainPage"><%= language.header.mypage%></a></li>
                            <%  if(userData.ide_authority==true) {%>
                                <li><a href="/toolide/workspaceList"><%= language.header.toolide%></a></li>
                            <%}%>                       
                        <%}else{%>
                            <!-- <li><a href="/">Home</a></li> -->
                            <li><a href="/"><%= language.header.login%> </a></li> 
                            <!-- <li><a href="/accounts/login">LOGIN</a></li> -->
                        <%}%>

                        <!-- 다국어 선택 Dropdown-->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= language.header.language%>
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                            <li><a id="English" href="" value="EN"><%= language.header.en%></a></li>
                            <li><a id="Japanese" href="" value="JP"><%= language.header.jp%></a></li>
                            </ul>
                        </li>

                    </ul> 
                </div> 
            </div> 
        </nav>

        <script>
            $(document).ready(function(){
                $("#English,#Japanese").click(function(){
                    // 현재 내 path
                    // var path = document.location.href; //http://localhost:3000/
                    var path = document.location.href.substring(21); 
                    
                    // http://demo.autosar.io로 변경하기
                    // var path = document.location.href.substring(22); 

                    // var language = $(this).text();
                    var language = $(this).attr("value");
                    $.ajax({
                        url : '/accounts/navbarLanguage',
                        type : 'POST',
                        data : {
                            path : path,
                            language : language
                        }
                    }).done(function(args){
                        if(args.message === 'success'){
                            document.location.href=path;
                        }
                    });
                });
            });
        </script>
    