<% include ../header.ejs %>
    <% include ./sidebar.ejs %>
    <div class="col-sm-10">
        <table class="table table-bordered table-hover">
            <h3><p class="text-center">휴면 회원 관리</p></h3>
            <br> 휴면 처리된 회원 목록입니다.<br>
            회원은 로그인한지 1년이 지날 경우 휴면 처리되며 휴면처리 여부에서 알 수 있습니다.<br>
            휴면 전환 1개월 전 알림 메일이 자동 발송됩니다.<br>
            <br>
            <br>
            <button class="btn btn-default" data-toggle="modal" id="sendEmail" onclick="showModal();">이메일 발송</button>
            *선택하신 회원에게 이메일을 보낼 수 있습니다.
            <br>
            <br>
            <tr>
                <th><input type="checkbox" id="checkAll"></th>
                <th>아이디</th>
                <th>휴면 전환일</th>
                 <th>휴면 전환 알림 메일 전송 여부</th>
            </tr>  
            <% final_result.forEach(function(final_result) { %>        
            <tr>           
                <td><input type="checkbox" name= "dmcheck" value="<%=final_result.userid%>"></td>
                <td><%=final_result.userid%></td>                       
                <td>
                   <%=final_result.getDormantDate.year%> -
                   <%=final_result.getDormantDate.month%> -
                   <%=final_result.getDormantDate.day%>
                </td>
                <td>
                <% if(final_result.dormant_mail_send == true) {%>
                    전송
                <%} else {%>
                    미전송
                <%}%>
                </td>
            </tr>            
            <%})%>   
        </table>

        <div class="paging">
            <%if(curSet > 1){%> 
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" onclick="location.href='/admin/dormancyMemberManage?page=<%=startPage-1%>'"></span>
            <%}%>            
            <%for(var i = startPage; i <= endPage; i++){%>
                <%if(i > totalPage) {%>                  
                <%} else {%> 
                <a href="/admin/dormancyMemberManage?page=<%=i%>"><%=i%></a>
                <%}%>
            <%}%>            
            <%if(curSet < totalSet){%>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" onclick="location.href='/admin/dormancyMemberManage?page=<%=endPage+1%>'"></span>
            <%}%>  
        </div>   

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">            
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">메일 보내기</h4>
                </div>
                <div class="modal-body">
                    <form role="form" action="" id="send_form" method="post" >            
                    <input class="form-control" id="send_to" name="send_to" required>                   
                    <br>
                    <input class="form-control" id="send_title" name="send_title" placeholder="제목을 입력하세요." required>
                    <br>
                    <textarea class="form-control" id="send_content" name="send_content" placeholder="내용을 입력하세요." rows="5" required></textarea><br>                    
                    <br>
                    <input type="submit"  class="btn btn-lg btn-success btn-block" value="전송">   
                    <span id="message"></span>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>

<script type="text/javascript">    
$(document).ready(function() {
    $("#checkAll").click(function() {
        if ($("#checkAll").prop("checked")) {
            $("input[name=dmcheck]").prop("checked", true);
        } else {
            $("input[name=dmcheck]").prop("checked", false);
        }
    });

    $("#send_form").submit(function(){
        var from, to, subject, text;
        var to = $("#send_to").val();
        var title = $("#send_title").val();
        var content = $("#send_content").val();

        // 답변 이메일 전송 후 submit
        $("#message").text("Sending E-mail...Please wait");
        $.get("http://localhost:3000/admin/mailToMember",{to:to, title:title, content:content},function(data){
            if(data=="sent"){
            $("#message").empty().html("<p>답변이메일이 전송되었습니다!</p>");
                return true;
            }
        });        
    });    
});

function showModal() {    
    var dmcheck = $("input[name=dmcheck]");
    var userEmail = "";
    for(var i=0; i<dmcheck.length; i++){
        if(dmcheck[i].checked == true){
            userEmail += dmcheck[i].value + ",";
        }
    }
    console.log("userEmail===" + userEmail);
    $("#myModal").modal('show')
    $("#myModal").on('shown.bs.modal', function (e) {        
        var userEmail2 = userEmail.slice(0, -1);
        $(".modal-dialog #send_to").val(userEmail2); 
    });                    
}
</script>


<% include ../footer.ejs %>